body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: rgb(42, 39, 39);
  background-color: thistle;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: xx-large;
}
